@{
    ViewBag.Title = "Index";
}
<h2>使用magnific-popup实现图片组轮流弹出</h2>
<div class="popup-gallery">
    <a href="~/content/cat-big.png" title="Cat"><img src="~/content/cat-small.png" width="75" height="75"></a>
    <a href="~/content/dog-big.png" title="Dog"><img src="~/content/dog-small.png" width="75" height="75"></a>
    <a href="~/content/panda-big.png" title="Panda"><img src="~/content/panda-small.png" width="75" height="75"></a>
</div>


@section myHeader{
    <!--Add magnific-popup.css-->
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />

}
@section myScript{
    <!--Add Jquery.js -->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
    <script>

        $(document).ready(function () {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.attr('title') + '<small>by MVC application</small>';
                    }
                }
            });
        });
    </script>
}